@tailwind base;
@tailwind components;
@tailwind utilities;

@import "boxicons/css/boxicons.min.css";



.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

  .fake-dark-mode {
    color: #fff; 
    background-color: #010101; 
  
  }

  .content-cart{
    width: 700px;
  }